[submodule "diff-so-fancy"]
path = diff-so-fancy
url = git@github.com:so-fancy/diff-so-fancy
branch = master
[submodule "dotbot"]
path = dotbot
url = git@github.com:anishathalye/dotbot
ignore = dirty
branch = master
[submodule "dotbot-crontab"]
path = dotbot-crontab
url = git@github.com:msdrigg/dotbot-crontab.git
branch = patch-1
[submodule "dotbot-crossplatform"]
path = dotbot-crossplatform
url = git@github.com:msdrigg/dotbot-crossplatform.git
branch = main
[submodule "MonitorConfigRs"]
path = MonitorConfigRs
url = git@github.com:msdrigg/MonitorConfigRs
branch = main
