[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-crontab"]
	path = dotbot-crontab
	url = git@github.com:codekansas/dotbot-crontab.git
[submodule "dotbot-crossplatform"]
	path = dotbot-crossplatform
	url = git@github.com:msdrigg/dotbot-crossplatform.git
