[user]
	email = m.scott.driggers@gmail.com
	name = Scott Driggers

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code -n --wait --diff "$REMOTE" "$BASE" "$LOCAL" "$MERGED"
#trustExitCode = false

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code -n --wait --diff "$REMOTE" "$LOCAL"

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nvim
	autocrlf = true

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[pull]
	rebase = true

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
